#mobileMessage {
    display: none; /* Par défaut, la div est masquée */
}


@media (max-width: 768px) {


  /* Réinitialise le style du body pour les appareils mobiles */
  body * {
    display: none !important;
  }

  body {
    background-image: url("portablebackground.jpg"); /* Remplacez par le chemin de votre image */
    font-size: 20px; /* Taille du texte */
    opacity: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

 

  /* Styles spécifiques pour la div visible seulement sur les appareils mobiles */
  #mobileMessage {
    display: flex !important; /* La rend visible sur les appareils mobiles */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* Centre la div par rapport à sa hauteur et largeur */
    width: 80%;
    height: 20%;
    background: rgba(122, 185, 184, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(122, 185, 184, 0.56);
    color: rgb(0, 17, 70); /* Couleur du texte */
    justify-content: center; /* Centre horizontalement dans le conteneur flex */
    align-items: center; /* Centre verticalement dans le conteneur flex */
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Assure que le texte est centré */
    font-weight: bold;
    z-index: 9999;
  }
}
