@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "League Gothic", sans-serif;
  color: rgb(3, 10, 31);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Backgroundfish.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.2;
}

.conteneur-presentation {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 10vh;
  width: 100vh;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.137);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.055);
  border-radius: 16px;
  box-shadow: rgba(75, 74, 74, 0.3) 0px 19px 38px,
    rgba(20, 169, 214, 0.22) 0px 15px 12px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  z-index: -1;
  border-radius: 10px;
}

.conteneur-presentation2 {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 3vh;
  width: 100vh;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.137);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.055);
  border-radius: 16px;
  box-shadow: rgba(75, 74, 74, 0.3) 0px 19px 38px,
    rgba(20, 169, 214, 0.22) 0px 15px 12px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  z-index: -1;
  border-radius: 10px;
  flex-direction: row;
}



.texte {
  max-width: 60%;
  display: flex;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.5rem;
}

p {
  font-size: 2rem;
}

p2 {
  font-size: 1.5rem;
}

.image {
  max-width: 60vh;
  height: auto;
}

.progress-bar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgba(82, 113, 116, 0.521);
  border-radius: 5px;
  width: 500px;
  height: 40px;
  margin-top: 10px;
}

.progress {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 1px 1px inset;
  background-color: rgba(64, 150, 15, 0.685);
  height: 100%;
  border-radius: 3px;
}

/*clickbuton*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.parallax1 {
  /* The image used */
  background-image: url("Background.png");

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
}

.parallax2 {
  /* The image used */
  background-image: url("/eolienne.jpg");

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax3 {
  /* The image used */
  background-image: url("/Backgroundfish.png");

  /* Full height */
  height: auto;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}



.full-width {
  width: 100%; /* Fait en sorte que la div prenne toute la largeur */

  background-color: rgb(27, 27, 27); /* Définit le fond en noir */
  color: white; /* Définit la couleur du texte en blanc pour contraster avec le fond noir */
  text-align: center; /* Centre le texte à l'intérieur de la div */
  padding: 20px 0; /* Ajoute un peu de padding vertical pour l'espace autour du texte */
  font-family: "Roboto", sans-serif; /* Utilise Roboto si vous l'avez importée, sinon tombe sur la police sans-serif par défaut */
}
.full-width2 {
  width: 100%; /* Fait en sorte que la div prenne toute la largeur */

  background-color: rgba(175, 9, 9, 0.473); /* Définit le fond en noir */
  color: rgba(
    41,
    2,
    2,
    0.699
  ); /* Définit la couleur du texte en blanc pour contraster avec le fond noir */
  text-align: center; /* Centre le texte à l'intérieur de la div */
  padding: 20px 0; /* Ajoute un peu de padding vertical pour l'espace autour du texte */
  font-family: "Roboto", sans-serif; /* Utilise Roboto si vous l'avez importée, sinon tombe sur la police sans-serif par défaut */
}

.inner-div {
  width: 200px; /* Largeur de 200px pour chaque div interne */
  height: 250px; /* Hauteur de 100px pour chaque div interne */
  /* Ajoutez d'autres styles ici si nécessaire, par exemple, pour le fond ou les bordures */
  background-color: lightgrey; /* Couleur de fond pour visualiser les divs */
  margin: 10px; /* Espace autour de chaque div interne */
}
