@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Global Body Styles */
body {
  font-family: "League Gothic", sans-serif;
  color: rgb(3, 10, 31);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Backgroundfish.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.2;
}

/* Presentation Container Styles */
.conteneur-presentation {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 10vh;
  width: 120vh;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.137);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(44, 226, 202, 0.103);
  border-radius: 16px;
  box-shadow: rgba(75, 74, 74, 0.3) 0px 19px 38px, rgba(20, 169, 214, 0.22) 0px 15px 12px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  z-index: -1;
  border-radius: 10px;
}

/* Secondary Presentation Container Styles */
.conteneur-presentation2 {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 3vh;
  width: 150vh;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.137);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.055);
  border-radius: 16px;
  box-shadow: rgba(75, 74, 74, 0.3) 0px 19px 38px, rgba(20, 169, 214, 0.22) 0px 15px 12px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  z-index: -1;
  border-radius: 10px;
}

  /* Therty Presentation Container Styles */
.conteneur-presentation3 {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 3vh;
  width: 150vh;
  gap: 5vw;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  z-index: -1;
  border-radius: 10px;
}

/* Therty Presentation Container Styles */
.conteneur-presentation4 {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
  margin: 3vh;
  width: 150vh;
  gap: 5vw;
  height: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.conteneur-presentation4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  z-index: -1;
  border-radius: 10px;
}


/* Side Text Styles */
.side-text {
  font-family: "Roboto", sans-serif;
  color: rgb(3, 10, 31);
  padding: 1vh 1vw;
  box-sizing: border-box;
}

/* Text and Progress Bar Container Styles */
.texte, .progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 100%;
}

/* Link Styles */
.link {
  transition: 0.5s ease-in-out;
  border-radius: 7px;
}

.link:hover {
  transform: scale(1.1);
}

/* Heading Styles */
h1, h2, p, p2 {
  margin: 5px 0;
  padding: 0;
  font-size: calc(0.8rem + 1vw);
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.5rem;
}

p {
  font-size: 2rem;
}

/* Image Styles */
.image {
  max-width: 60vh;
  height: auto;
}

/* Progress Bar Styles */
.progress-bar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgba(82, 113, 116, 0.521);
  border-radius: 5px;
  width: 500px;
  height: 40px;
  margin-top: 10px;
}

.progress {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 1px 1px inset;
  background-color: rgba(64, 150, 15, 0.685);
  height: 100%;
  border-radius: 3px;
}

/* Parallax Background Styles */
.parallax1, .parallax2, .parallax3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax1 {
  background-image: url("Background.png");
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.parallax2 {
  background-image: url("/eolienne.jpg");
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.parallax3 {
  background-image: url("/Backgroundfish.png");
  height: auto;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Full Width Container Styles */
.full-width, .full-width2 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.full-width {
  background-color: rgb(27, 27, 27);
  color: white;
}

.full-width2 {
  background-color: rgb(131, 1, 1);
  color: rgba(41, 2, 2, 0.699);
}

.full-width3 {
  background-color: rgb(131, 1, 1);
  color: rgb(27, 1, 1);
  top: 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Inner Div Styles */
.inner-div {
  width: 200px;
  height: 250px;
  background-color: lightgrey;
  margin: 10px;
}



